.container {
  display: flex;
  max-width: 110rem;
  width: 100%;
  padding: 3.6rem 3.2rem;
  margin-top: 4.8rem;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  position: relative;
  z-index: 1;
}

.info {
  max-width: 21rem;
  width: 100%;
  position: relative;
}

.info:not(:last-child) {
  margin-right: 6.4rem;
}

.info:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: -3.2rem;
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: var(--black);
  opacity: 0.15;
}

.info span {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-grey);
  padding-bottom: 1rem;
}

.info h2 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--very-dark-grey);
}
